.home-all{
    background: url("pic/home.jpg");
    height: 150vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Monsterrat"; 
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.home{
    margin-top: 10%;
    padding: 10px;
    width: 100%;
    flex: 2;
    /* height: 100%; 
    border: 2px solid rgb(119, 119, 119);
    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.512);*/
    display: flex;
    gap: 20px;
    flex-direction: column;
    color: whitesmoke;
    font-family: Montserrat; 
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.title-home-child{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
.title-home-child-header{
    font-size: 50px;
    text-align: center;
}
.img-home{
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: space-around;
}
.img-home img{
    object-fit: cover;
    width: 32%;
    border-radius: 20px;
}